body {
    background-color: #000000;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  .box{
    background: rgb(255, 217, 0);
    padding: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
  }
  
  .container {
    display: grid;
    margin: auto;
    max-height: fit-content;
    max-width: fit-content;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    border: 5px solid #ffffff;
    padding: 10px;
    justify-content: center;
    align-items: center;
  } 
  .item {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #57a01b;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
  .item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #1eff00;
    height: 110px;
    width: 100px;
  }
  
  .item-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 40px;
    width: 130px;
    background-color: #03a9f5;
  }
  
  .item-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 110px;
    width: 50px;
    background-color: #fec107;
  }
  
  .item-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 40px;
    width: 50px;
    background-color: #704635;
  }
  
  .item-5 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    height: 110px;
    width: 100px;
    background-color: #ff00aa;
  }
  
  .item-6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 40px;
    width: 50px;
    background-color: #ff5e00;
  }
  
  .item-7 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    width: 50px;
    height: 110px;
    background-color: #0026ff;
  }
  
  .item-8 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    height: 40px;
    width: 180px;
    background-color: #008d1f;
  }
  
  .item-9 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    width: 50px;
    height: 40px;
    background-color: #d900ff;
  }
  
  .item-10 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    height: 40px;
    background-color: #ff0000;
  }
  
  .shadow {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
  }