body{
    background-color: rgb(65, 65, 65);
}
.box{
    background: rgb(217, 255, 0);
    padding: 10px;
}
img{
    object-fit: cover;
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
}
.grid-1 > article{
    border-radius: 30px;
    background-color: rgb(217, 255, 0);
}
.grid-1 > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.grid-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
}
.grid-2 > article{
    border-radius: 30px;
    background-color: rgb(217, 255, 0);
}
.grid-2 > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}